html,
body,
#map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 97.5%;
}

#map {
    z-index: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
}

#loginPopup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Fix the button on the left side of the page */

.open-btn {
    display: flex;
    padding: 10px 10px;
    z-index: 20;
}


/* Style and fix the button on the page */

.open-button {
    background-color: #1c87c9;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    position: relative;
}


/* Hide the Popup form */

.form-popup {
    border: 2px solid #666;
    z-index: 9;
    max-width: 500px;
    margin: 0 auto;
}


/* Styles for the form container */

.form-container {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}


/* Full-width for input fields */

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}


/* When the inputs get focus, do something */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Style submit/login button */

.form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Style cancel button */

.form-container .cancel {
    background-color: #cc0000;
}


/* Hover effects for buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.custom-select {
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: #eee;
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: #eee;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.info_css {
    background-color: #fff;
    width: 100px;
    font-size: 12px;
    align-items: center;
}

.ticket-data {
    align-content: center;
    text-align: center;
}

#qrcode {
    align-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
}